.Navbar {
  display: flex;
  color: white;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;

}

.texto_logo_Frente{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.texto_logo{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: white;
  margin: 15px;
}
.circulo {
  width: 50px;
  height: 50px;
  background-color: #0063ac;
  border-radius: 50%;
  display: -webkit-flex;
     display: -ms-flexbox;
            display: flex;

    -webkit-align-items: center;
      -webkit-box-align: center;
	 -ms-flex-align: center;
	    align-items: center;
    
  justify-content: center;
  margin: 0;
  }


.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    font-size: 1.5rem;
    align-self: flex-end;
  }

.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}