<nav>
    <div class="barra">
         <a [routerLink]="['/home']" routerLinkActive="barra-active"><i class="fa fa-home" style="font-size:24px"></i> Home</a>
         <a [routerLink]="['/calculadora']" routerLinkActive="barra-active"><i class="fa fa-calculator" style="font-size:24px"></i> Calculator</a>
         <!-- <div class="dropdownOthers">
            <button class="dropbtnOthers">Others 
              <i class="fa fa-caret-down"></i>
            </button>
           <div class="dropdown-contentOthers">
                <a [routerLink]="['/readMeGenerator']" routerLinkActive="barra-active"><i class="	fab fa-readme" style="font-size:24px"></i> Generator</a>
                <a [routerLink]="['/evAndRef']" routerLinkActive="barra-active"> evAndRef</a>
            </div> 
          </div>  -->
   </div>
 </nav>