
<div class="Navbar">
  <div class="Navbar__Link Navbar__Link-brand texto_logo">
    <div class="circulo">H</div>
   </div>
   <div class="texto_logo_Frente">Henrique Mendes</div>
   <div class="Navbar__Link Navbar__Link-toggle">
     <i class="fa fa-bars" (click)='classToggle()' ></i>
   </div>
 <nav class="Navbar__Items Navbar__Items--right">
  <div class="Navbar__Link">
    <a   [routerLink]="['/Home']" routerLinkActive="barra-active"><i class="fa fa-home" style="font-size:24px"></i> Home</a>
  </div>
   <div class="Navbar__Link">
    <a   [routerLink]="['/Calculator']" routerLinkActive="barra-active"><i class="fa fa-calculator" style="font-size:24px"></i> Calculator</a>
   </div>
   <div class="Navbar__Link">
    <a  [routerLink]="['/ListaCompras']" routerLinkActive="barra-active"><i class="fa fa-shopping-cart" style="font-size:24px"></i> Lista de Compras</a>
   </div>
   <div class="Navbar__Link">
    <a   [routerLink]="['/EvAndRef']" routerLinkActive="barra-active"><i class="fa fa-magic" style="font-size:24px"></i> evAndRef</a></div>
 </nav>
</div>

