 <div class="row">
  <div class="col-6"> <img src="avatar.png" alt="image"></div>
  <div class="col-6">  
    <h3 class="txtpequeno">Programador Web</h3>
    <h1 class="titulo">Henrique Mendes</h1>
    <h4 class="txtgrande">Facilisi consequat nunc convallis scelerisque. Aptent malesuada suspendisse augue. Fusce eget placerat quisque donec eu amet quis molestie velit consectetur vitae inceptos. Proin ipsum lobortis parturient habitant vulputate mattis parturient amet nam etiam varius. 
      Tempor mollis rhoncus eget per? Nam lectus ultrices nisl massa inceptos vehicula erat est potenti metus! Vulputate litora consectetur duis sapien ante justo est mollis 
      vulputate. Ultrices, quisque tempus consectetur. Egestas hac porta ultrices duis cubilia eget orci.</h4>
  </div>
 </div>
 <div class="row">
  <div class="col-6"> 
    <h3 class="titulo margem-top">O que faço? <hr class="white"></h3>
    <h4 class="txtgrande">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quam id leo in vitae turpis massa. In hac habitasse platea dictumst. Sapien nec sagittis aliquam malesuada bibendum arcu.</h4>
  </div>
  <div class="col-6">  
    <div class="container-md">
      <h3 class="titulo margem-top-pequeno">Coding Skills</h3> 
      <h4 class="txtgrande">HTML/CSS</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
          85%
        </div>
      </div>
      <h4 class="txtgrande">Javascript</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
          75%
        </div>
      </div> <h4 class="txtgrande">Angular</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
          70%
        </div>
      </div>
      <h4 class="txtgrande">PHP</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
          70%
        </div>
      </div>
    </div>
  </div>
 </div>
