 <div class="row">
  <div class="col-6"> <img src="avatar.png" alt="image"></div>
  <div class="col-6">  
    <h3 class="txtpequeno">Web Designer</h3>
    <h1 class="titulo">Henrique Mendes</h1>
    <h4 class="txtgrande">Facilisi consequat nunc convallis scelerisque. Aptent malesuada suspendisse augue. Fusce eget placerat quisque donec eu amet quis molestie velit consectetur vitae inceptos. Proin ipsum lobortis parturient habitant vulputate mattis parturient amet nam etiam varius. 
      Tempor mollis rhoncus eget per? Nam lectus ultrices nisl massa inceptos vehicula erat est potenti metus! Vulputate litora consectetur duis sapien ante justo est mollis 
      vulputate. Ultrices, quisque tempus consectetur. Egestas hac porta ultrices duis cubilia eget orci.</h4>
  </div>
 </div>

