

img{
     width: 320px;
     height: 320px;
     border-radius: 50%;
     border: 13px solid #444;
     margin-top: 7vh;
     margin-left: 5vw;
  }

.txtpequeno{
    color:#aaa;
    margin-top: 8vh;
    margin-bottom: 1vh;

  }

.titulo{
    color: white;
    font-weight: bolder;
    margin-bottom: 3vh;


}
.txtgrande{
    color: #d5d5d5;
 
}

*{
 font-family: 'Poppins', sans-serif;
}

hr{
  color: #0063ac;
  width: 100px;
  border: 2px solid #0063ac;
}

.margem-top{
  margin-top: 6vh;
}