<nav>
    <div class="barra">
        <div class="dropdownOthers">
            <button class="dropbtnOthers">Others 
              <i class="fa fa-caret-down"></i>
            </button>
           <div class="dropdown-contentOthers">
            <a [routerLink]="['/ListaCompras/add']" routerLinkActive="barra-active"><i class="fa fa-add" style="font-size:24px"></i> Add</a>
            <a [routerLink]="['/ListaCompras/buy']" routerLinkActive="barra-active"><i class="fa fa-buy" style="font-size:24px"></i> Buy</a>
            </div> 
          </div>    
   </div>
 </nav>

 <router-outlet></router-outlet>