

.posicao{
    margin-left:15vw;
    margin-top: 5vh;
}

button:active {
    background: #1C2428;
    -webkit-box-shadow: inset 0px 0px 5px black;
       -moz-box-shadow: inset 0px 0px 5px black;
            box-shadow: inset 0px 0px 5px black;
     outline: none;
}

input{
    display: block;
    margin-left:20vw;
    margin-top: 10vh;
}
.centrar{
    margin-left:14vw ;
}
