.caixa{
    bottom: 0%;
    height: 6vh;
    width: 57%;
    position: fixed;
    background-color: #30386a;
    border-radius:10px;
    color:white;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.animacaoSubir{
    animation: animacaoCookiesSubir;
    animation-duration: 1s;
}
.animacaoDescer{
    animation: animacaoCookiesDescer;
    animation-duration: 1s;
}

.botaoCookie{
    border-radius: 8px;
    background-color: #1C2428 ;
    color:white;
    height: 30px;
    padding:10px;
    box-shadow: 2px 2px 2px black;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letracookie{
    font-weight: bold;
    font-size: 14px;
}

@keyframes animacaoCookiesSubir{
 from{bottom: -25vh;}
 to{ bottom: 0%;}
}

@keyframes animacaoCookiesDescer{
    from{bottom: 0%;}
    to{ bottom: -25vh;}
   }